{% load raw %}
<html>
  <head>
    <title>How About the OG?</title>

    <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 

    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mobile.css" media="screen and (max-device-width:480px)" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
  </head>
  <body>
    {% raw %}
    <script type="text/x-jquery-tmpl" id="placesList">
      {{if places.length}}
      <div class="main-rec">
        <h1> Go to <strong>${places[0].name}</strong></h1>
        <div> It's been, like, ${places[0].current} days.</div>
        <div> You normally go every ${places[0].mean} days.</div>
      </div>
      <div class="other-recs">
        {{if places.length > 1}}
          <h2>You could also try ...</h2>
        {{/if}}
        <ul>
          {{each(i, p) places}}
            {{if i > 5}}
              <li class="overflow">
            {{else i > 0}}
              <li>
            {{/if}}
            {{if i > 0 }}
              ${ p.name } <span class="since"> ... ${ p.current } days</span> <span class="hidden">normally every ${ p.mean }.</span></li>
            {{/if}}
          {{/each}}
        </ul>
        {{if places.length > 5}}
          <a href="#" class="overflow">Show all</a>
        {{/if}}
      </div>
      {{else}}
        <h1>Nothing! I dunno, maybe you should check in a few places?</h1>
      {{/if}}
    </script>
    {% endraw %}
</body>
</html>

